{% load static %}
<html>
    <head>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <!-- Vendor CSS Files -->
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
        <script defer src="{% static 'scripts/app.js' %}"></script>
        
    </head>

    <body>
        <div>
            <div class="page">
                <!-- <img class="page__image" src="images/img1.jpeg" alt="page 1" /> -->
                <!-- background carousel -->
                <div
                    id="backgroundImageCarousel"
                    class="carousel slide"
                    data-bs-ride="carousel"
                >
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img
                                src="{% static '/images/backgrounds/img1.jpeg' %}"
                                class="d-block w-100"
                                alt="..."
                            />
                        </div>
                        <!-- <div class="carousel-item">
                            <img
                                src="images/backgrounds/img2.jpeg"
                                class="d-block w-100"
                                alt="..."
                            />
                        </div> -->
                        <div class="carousel-item">
                            <img
                                src="{% static '/images/backgrounds/img3.jpeg' %}"
                                class="d-block w-100"
                                alt="..."
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="{% static '/images/backgrounds/img4.jpeg' %}"
                                class="d-block w-100"
                                alt="..."
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="{% static '/images/backgrounds/img5.jpeg' %}"
                                class="d-block w-100"
                                alt="..."
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="{% static '/images/backgrounds/img6.jpeg' %}"
                                class="d-block w-100"
                                alt="..."
                            />
                        </div>
                        <div class="carousel-item">
                            <img
                                src="{% static '/images/backgrounds/img7.jpeg' %}"
                                class="d-block w-100"
                                alt="..."
                            />
                        </div>
                    </div>
                </div>
                 end carousel
                <div class="page__content">
                    <div id="mascot">
                     <!--   <img src="images/mascot1-refined.png" />-->
                    </div>

                    <div class="navigation">
                        <nav class="vertical_nav">
                            <div class="nav_dropdown">
                                <a href="/">Home</a>
                            </div>
                            <div class="nav_dropdown">
                                <a href="{% url 'index2' %}">About Us</a>

                            </div>
                            <div class="nav_dropdown">
                                <a href="#">Services</a>
                                <div class="nav_dropdown_content">
                                    <a href="{% url 'index4' %}"
                                        >Accounting Services</a
                                    >
                                    <a href="{% url 'index10' %}"
                                        >Complete Tax Management</a
                                    >
                                    <a
                                        href="{% url 'index7' %}"
                                        >Financial Coaching & Restructuring</a
                                    >
                                    <a
                                        href="{% url 'index8' %}"
                                        >Investment Opportunities</a
                                    >
                                    <a href="{% url 'index6' %}"
                                        >New Business Set-up Services</a
                                    >
                                    <a
                                        href="{% url 'index9' %}"
                                        >Properties management</a
                                    >
                                    <a href="{% url 'index5' %}">BPO</a>
                                </div>
                            </div>
                            <div class="nav_dropdown">
                                <a href="#">Resources</a>
                                <div class="nav_dropdown_content">
                                    <a href="https://drive.google.com/drive/folders/1rbFYoS_hPUvf3FQ7v1OxFrTOjsbuwaR1?usp=sharing"
                                        >Features & Articles</a
                                    >
                                    <a href="https://drive.google.com/drive/folders/1S8dcTf_JYa8f8qtPlHNakYVW3u8t60Qg?usp=sharing"
                                        >E Books & Worksheets</a
                                    >
                                    <a
                                        href="https://drive.google.com/drive/folders/1D482domoiEbYZHeNZdHZXnqUEpTYb6Gb?usp=sharing"
                                        >Templates for Easy Use</a
                                    >

                                </div>
                            </div>
                            <div class="nav_dropdown">
                                <a href="{% url 'index3' %}">Contact Us</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="page">
                <img class="page__image" src="{% static '/images/img5.jpeg' %}" alt="page 2" />
                <div class="page__content content-center">
                    <div class="avatar_container">
                        <div
                            class="avatar_card"
                            data-shortContent="Got an Idea, not sure what comes next or got it all sorted - at any stage of your Entrepreneurial journey you are at, reach out to take things to the next level!"
                            data-content="Did you just get started with no Revenue yet or are you about to start with your Strategy still? Has someone got your back or you believe in making mistakes and learning from them? Why not use our Learning Curve to create a ready for Market Business Model?!
                            Work with Us to get Seamless Processes, Tried and Tested Systems, Great Team Building & Well planned Go to Market strategies. As you build the most important part of your business - your product, let us build the rest for you.
                            "
                            data-title="Aspiring Enterpreneur"
                        >
                            <div class="avatar_card_inner">
                                <div class="avatar_card_front">
                                    <img
                                        src="{% static '/images/new_avatars/aspiring_entrepreneur.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span>Aspiring Enterpreneur</span>
                                    </div>
                                </div>
                                <div class="avatar_card_back">
                                    <img
                                        src="{% static '/images/new_avatars/aspiring_entrepreneur1.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span><center>Aspiring Enterpreneur</center></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="avatar_card"
                            data-shortContent="Traveling, living in different places, a pulsating life, a busy schedule - not likely to have time to file your taxes, manage your bank accounts, plan your documentation, rent out that property, plan that upcoming wedding in the family, or do your travel bookings yourself! If this sounds like your life Look this Section Up!"
                            data-content="Big Achievements come with Big Responsibilities! And to deliver big responsibilities you need a focused, experienced Team to sweat over the small things.So that you can focus on things that matter to you.
                            We are here to make it Convenient for you with our Systematic Planning and Meticulous Implementation.
                            "
                            data-title="HNI NRI"
                        >
                            <div class="avatar_card_inner">
                                <div class="avatar_card_front">
                                    <img src="{% static '/images/new_avatars/hni_nri.png' %}" />
                                    <div class="avatar_card-details">
                                        <span>HNI NRI</span>
                                    </div>
                                </div>
                                <div class="avatar_card_back">
                                    <img
                                        src="{% static '/images/new_avatars/hni_nri1.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span>HNI NRI</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="avatar_card"
                            data-shortContent="Looking for Great Investment Opportunities, balancing your Risk Appetite, Returns and Quantum. Or looking to make your first Investment and unsure where to Start!"
                            data-content="Got hard earned money but confused about where to Invest because either a lot of Lucrative Return Offers have Undisclosed Risks? Or because Assurance comes with negligible Returns. Let’s rewrite this story. Don’t sweat over it any longer! We are here - to scout, analyse, study, research and verify. We are here to provide the best opportunities with complete transparency on the risks involved and every term clearly discussed. We bring only the Best to the table."
                            data-title="Investor"
                        >
                            <div class="avatar_card_inner">
                                <div class="avatar_card_front">
                                    <img
                                        src="{% static '/images/new_avatars/investor.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span>Investor</span>
                                    </div>
                                </div>
                                <div class="avatar_card_back">
                                    <img
                                        src="{% static '/images/new_avatars/investor1.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span>Investor</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="avatar_card"
                            data-shortContent="At the Helm of a Running Business, seamlessly growing it this far and now ready to take it to the next level. Everything is in place and yet a Disruption is around the Corner!"
                            data-content="Congratulations! On getting this far. Setting new Targets is what we all desire, but very few are able to get there. The Growth stage demands a lot of hectic operations which means less time for Focusing on all the Support Functions. Expansion requires outstanding analysis and optimum utilization of opportunities. This is the point where we can step in! Feasibility Studies, Growth Models with measurable outputs, and assistance on every aspect that might arise along the way whether it be Taxation, Financial Management, Compliance or Strategic Decision Making..Cause Growth Stories are written in Teams!"
                            data-title="Ready For Big Leap"
                        >
                            <div class="avatar_card_inner">
                                <div class="avatar_card_front">
                                    <img
                                        src="{% static '/images/new_avatars/ready_for_big_leap.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span>Ready For Big Leap</span>
                                    </div>
                                </div>
                                <div class="avatar_card_back">
                                    <img
                                        src="{% static '/images/new_avatars/ready_for_big leap1.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span>Ready For Big Leap</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="avatar_card"
                            data-shortContent="Setting out to do Good for the World and Transform Lives? Not sure why Taxes and compliances should matter, or how to raise Funds and build the model into something viable?"
                            data-content="Do you believe in change and want to create a difference? But will that be done without collaborators who are aligned to your vision and shoulder part of your responsibilities?
                            Running in a CA’s offices a million times to have queries handled, documents filed and information documented is history. Relax into a Service Bundle created just for Entities like you. Get everything you need in one place, in a systematic and simplified format. Plan, Envision, Implement. Work with us to build a Foundation /Trust/ Social Venture & make a difference to how you Serve the World."
                            data-title="Social Entrepreneur"
                        >
                            <div class="avatar_card_inner">
                                <div class="avatar_card_front">
                                    <img
                                        src="{% static '/images/new_avatars/social_entre.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span>Social Entrepreneur</span>
                                    </div>
                                </div>
                                <div class="avatar_card_back">
                                    <img
                                        src="{% static '/images/new_avatars/social_entre1.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span>Social Entrepreneur</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="avatar_card"
                            data-shortContent="Idea / MVP / Traction / Any Stage in your Startup journey"
                            data-content="Have something really crisp & special that you want to serve the market with?
                            We got your back - whether it is setting up your business or putting together your first power team. But remember increased turnover means increased responsibility too. Pre Set Up work, Strategy Building, Standard Operating Procedures, Structured MIS and the Minute but inevitable Details of the Business become the Foundation to the Long Journey ahead.. In addition to that - compliance related to Taxes and the Ministry of Corporate Affairs are a few other mandatory “To Dos” that you Don’t want to miss! We are here with experts in all the areas you might ever need - from Business Modelling to Optimum Utilization of Funds. All the way from your Incorporation to your being a Leading Corporation.
                            "
                            data-title="Startup Founder"
                        >
                            <div class="avatar_card_inner">
                                <div class="avatar_card_front">
                                    <img
                                        src="{% static '/images/new_avatars/start_up_founder.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span>Startup Founder</span>
                                    </div>
                                </div>
                                <div class="avatar_card_back">
                                    <img
                                        src="{% static '/images/new_avatars/start_up_founder1.png' %}"
                                    />
                                    <div class="avatar_card-details">
                                        <span>Startup Founder</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="page">
                <img class="page__image" src="images/img3.jpeg" alt="page 3" />
                <div class="page__content">
                    <h1>Hi there</h1>
                </div>
            </div> -->
        </div>
        <!-- Modals -->
        <div
            class="modal fade"
            id="avatarModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="avatarModalLabel">
                            About Avatar
                        </h5>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <div class="short_summary">Loading...</div>
                        <div class="collapse" id="avatar_main_content">
                            Loading main info...
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            id="btn_know_more"
                        >
                            Know more
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            console.log("inside file");
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"
        ></script>

        <!--footer-->
        <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>A Money Tree</h3>
      <p>"Money is 80% behavior, 20% Knowledge. It's what you do, not what you want."</p>
      <div class="social-links">
       <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
        <a href="https://m.facebook.com/103466014412774/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/amoneytreeonline/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://youtube.com/channel/UCnlwogjqju5bj8Q1P9V9aTA" class="google-plus"><i class="bx bxl-youtube"></i></a>
        <a href="https://www.linkedin.com/company/a-money-tree/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>A Money Tree</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->

      </div>
    </div>
  </footer><!-- End Footer -->
    </body>
    <script src="https://widget.flowxo.com/embed.js" data-fxo-widget="eyJ0aGVtZSI6IiM2N2MxOGUiLCJ3ZWIiOnsiYm90SWQiOiI2MTk2ODIyNDczN2U5MjAwNWY3NjM0YmEiLCJ0aGVtZSI6IiM2N2MxOGUifSwid2VsY29tZVRleHQiOiJIb3cgY2FuIEkgaGVscCB5b3UgPyJ9" async defer></script>
    <!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+91 90042 27895", // WhatsApp number
            call_to_action: "Message us", // Call to action
            position: "left", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
  </script>
  <!-- /GetButton.io widget -->
</html>
