* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.page {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.page__image {
    width: 100%;
    height: 100%;
}
.page__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
}
.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Vertical Nav */
.navigation{
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(50%);
    transition: transform 1s;
    transition-timing-function: ease;
}
.navigation:hover{
    transform: translateX(0%);
}
.vertical_nav{
    /* background-color:rgba(255,255,255,0.7); */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 20px;
}
.vertical_nav a{
    text-decoration: none;
    color: white;
}
.vertical_nav .nav_dropdown{
    padding: 10px 100px;
    margin:15px 20px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    background-color:rgb(135, 177, 51);
    color:white;
    font-size: 20px;
    box-shadow: 0px 10px 15px 2px #AFE1AF;
    transition:transform 0.3s, background-color 0.6s;
}
.vertical_nav .nav_dropdown:hover{
    transform: translateX(-20%);
    background-color: #4d5f0c;
    color: white;
}
.nav_dropdown{
    position: relative;
}
.nav_dropdown_content{
    visibility: hidden;
    position: absolute;
    z-index: 11;
    right:100%;
    top:0;
    display: flex;
    padding:10px 20px;
    flex-direction: column;
    transform: translateY(calc(-50% + 20px)); /* 20px for margin and padding */
}
.nav_dropdown_content a{
    display: inline-block;
    padding:10px 50px;
    margin:10px 20px;
    background-color:rgb(135, 177, 51) ;
    border-radius: 20px;
    white-space: nowrap;
    color:white;
    box-shadow: 0px 10px 15px 2px #AFE1AF;
}
.nav_dropdown_content a:hover{
    background-color: #4d5f0c;
}
.nav_dropdown:hover .nav_dropdown_content{
    visibility: visible;
}
/* End */

/* Mascot Styles */
#mascot {
    position: fixed;
    z-index: 10;
    bottom: 20px;
    left: 20px;
    min-height: 200px;
    min-width: 200px;
    height: 40%;
    animation-name: mascot-spring;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:ease-out;
}
#mascot img {
    width: auto;
    height: 100%;
    background-size: contain;
    /* box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.6); */
}

@keyframes mascot-spring {
    from {
        bottom: 30px;
    }
    to {
        bottom: 20px;
    }
}
/* End */

/* avatars */
.avatar_container{
    background-color: transparent;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    row-gap: 10px;
    column-gap: 10px;
}
.avatar_card{
    width:200px;
    border: 1px solid green;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    perspective: 1000px;
}
.avatar_card-details{
    height: 50px;
    background-color: rgb(19, 59, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 20px;
}
.avatar_card img {
    max-width:100%;
}
.avatar_card:hover{
    border-color: dodgerblue;
    border-width: 5px;
    background-color: white;
    /* transform: scale(1.2); */
    box-shadow: 0px 10px 100px 30px cyan;
}
.avatar_card_inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style:preserve-3d;
}
.avatar_card:hover .avatar_card_inner{
    transform: rotateY(180deg);
}
.avatar_card_front,.avatar_card_back {
    position: absolute;
    backface-visibility: hidden;
}
.avatar_card_back{
    transform: rotateY(180deg);
}
/* End */